* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.features {
    max-width: 1200px;
    margin: 0 auto;
	padding: 90px 0;
    display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item {
    width: 310px;
	height: 240px;
	text-align: center;
	padding: 20px 0;
}

.title {
    margin: 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
}

.text {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}