* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1990px;
	height:390px;
	background-color: #fac60f;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 210px 0 210px;
}

.item {
	width: 360px;
	height: 230px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.title {
	font-size: 18px;
	color: #3c3c3c;
	font-family: 'Merriweather', serif;
	font-weight: bold;
	text-transform: uppercase;
}

.text {
	font-size: 16px;
	color: #3c3c3c;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	line-height: 22px;
}
