* {
	margin: 0;
	padding:0;
	box-sizing: border-box;
}

.card {
	width: 900px;
	height: 565px;
	margin: 30px auto;
	border: 10px solid #ade0d2;

	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card__item {
	width: 380px;
	background: #ade0d2;
}

.card__img {
	background: linear-gradient(to bottom, #f4e28d, #d97f7f);
}

.card__item:hover .card__img {
	transform: translate3d(-10px, -10px, 0);
}

.card__item:hover .card__img img {
	opacity: .1;
}
