* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.features {
    max-width: 1370px;
    display: block;
    margin: 50px auto 0;
    background-color: #171f23;
    text-align: center;
    padding: 60px 0;
}

.title {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 36px;
    line-height: 1;
    margin-bottom: 50px;
    color: #f6f6f6;
}

.title::after {
    content: "";
    display: block;
    height: 1px;
    width: 90px;
    margin: 20px auto 0;
    background: #404040;
    transition: 0.5s;
}

.cards {
    width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #f6f6f6;
    font-weight: 300;
}

.card-num {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #f6f6f6;
    font-weight: 300;
}


